/* polices */
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Merriweather&family=Overpass&family=Roboto:wght@300;400&display=swap');

/* layout */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 255, 255);
    background: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* navigation bar */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

nav .profile h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}


nav ul li {
    padding: 20px 42px 20px 42px;
    cursor: pointer;
    color: white;
}

nav ul li:hover {
    background-color: rgb(0, 0, 100);
    color: whitesmoke;
    transition: ease all 0.5s;
    transition-property: all;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Présentation */

.LCF {
    text-align: center;
}

.LCF img {
    border: 2px solid black;
}

.LCF h1 {
    position: relative;
    animation: 2s slidein-top, 2s fadein;
    color: orange;
    text-shadow: 2px 2px 2px black;
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
}

.LCF p {
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.LCF p a {
    text-decoration: none;
    color: white
}

.LCF p a:hover {
    color: orange;
    border-bottom: 2px solid orange;
}

/* Missions */

.missions h1 {
    position: relative;
    animation: 3s slidein-left, 3s fadein;
    margin-top: 5%;
    color: orange;
    margin-left: 30%;
    margin-bottom: 4%;
    font-family:'Overpass', sans-serif;
    font-weight: bold;
}

.missions p {
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 25px;
}

.missions p span {
    color: orange;
}

.missions li { 
    display: flex;
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 60px;
    margin-left: 10%;
}

.missions li img {
    width: 3%;
    height: 3%;
    text-align: center;
}

.missions button {
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 18%;
    padding: 6px 50px 6px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    display: block;
}

.missions button:hover {
    background-color: transparent;
    color: white
}

.missions button a {
    text-decoration: none;
    text-shadow: 0px 0px 1px black;
    color: black;
}

.missions button a:hover {
    color: white;
}

/* pied de page */

.pied {
    margin-top: 2%;
    background-color: black;
    padding: 5.5px;
}

.pied p {
    text-align: center;
    color: white;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein-top {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slidein-left {
    0% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}

