/* polices */
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Merriweather&family=Overpass&family=Roboto:wght@300;400&display=swap');

/* layout */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 255, 255);
    background: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* navigation bar */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

nav .profile h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}


nav ul li {
    padding: 20px 42px 20px 42px;
    cursor: pointer;
    color: white;
}

nav ul li:hover {
    background-color: rgb(0, 0, 100);
    color: whitesmoke;
    transition: ease all 0.5s;
    transition-property: all;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/*Début de page */

.début h1 {
    margin-top: 6%;
    margin-left: 10%;
    margin-bottom: 2%;
    position: relative;
    animation: 2s slidein-left, 2s fadein;
    color: orange;
    text-shadow: 2px 2px 2px black;
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
}

.début p {
    margin-left: 10%;
    margin-right: 4%;
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* formulaire */

form {
    margin-top: 6%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: transparent;
    padding: 2% 2% 2% 2%;
}

.NPAOP {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px black;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.NPAOP input {
    margin-right: 40%;
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.NPAOP select {
    margin-top: 10px;
    margin-right: 80%;
    padding: 10px 5px 10px 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.NPAOP textarea {
    margin-top: 5px;
    margin-right: 10%;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }

.bouton button {
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 6%;
    padding: 6px 50px 6px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.2s;
    display: block;
}

.bouton button:hover {
    font-family: 'Roboto', sans-serif;
    color: black;
    transform: scale(1.1);
}

/* pied de page */

.pied {
    margin-top: 2%;
    background-color: black;
    padding: 5.5px;
}

.pied p {
    text-align: center;
    color: white;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein-left {
    0% {
        left: -10%;
    }

    100% {
        left: 0;
    }
}
