/* polices */
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Merriweather&family=Overpass&family=Roboto:wght@300;400&display=swap');

/* layout */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 255, 255);
    background: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* navigation bar */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

nav .profile h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 20px 42px 20px 42px;
    cursor: pointer;
    color: white;
}

nav ul li:hover {
    background-color: rgb(0, 0, 100);
    color: whitesmoke;
    transition: ease all 0.5s;
    transition-property: all;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* animation */

.slide h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    font-family: 'Akshar', sans-serif;
    position: relative;
    animation: 2s slidein-left, fadein 2s;
    font-size: 6vw;
    padding-top: 6%;
    padding-right: 60%;
    padding-left: 16%;
    margin: 0;
    margin-bottom: 0;
}

.slide h2 {
    color: orange;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    font-family: 'Akshar', sans-serif;
    font-style: italic;
    position: relative;
    animation: 3s slidein-right, fadein 3s;
    font-size: 4vw;
    margin: 0;
    padding-right: 50%;
    padding-left: 6%;
    padding-bottom: 6%;
}

/* main content */

.contenu p {
    line-height: 30px;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    padding-right: 38%;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.contenu button {
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 8%;
    padding: 12px 40px 12px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    margin-bottom: 40px;
}

.contenu button:hover {
    background-color: transparent;
    color: white
}

.contenu button a {
    text-decoration: none;
    color: black;
}

.contenu button a:hover {
    color: white;
}


/* pied de page*/

.pied {
    background-color: black;
    padding: 5.5px;
}

.pied p {
    text-align: center;
    color: white;
}

.pied p a {
    text-decoration: none;
    color: white;
}

.pied p a:hover {
    color: orange;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes slidein-left {
    0% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}

@keyframes slidein-right {
    0% {
        right: -10%;
    }
    100% {
        right: 0;

    }
}
