/* polices */
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Merriweather&family=Overpass&family=Roboto:wght@300;400&display=swap');

/* layout */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 255, 255);
    background: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* navigation bar */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

nav .profile h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}


nav ul li {
    padding: 20px 42px 20px 42px;
    cursor: pointer;
    color: white;
}

nav ul li:hover {
    background-color: rgb(0, 0, 100);
    color: whitesmoke;
    transition: ease all 0.5s;
    transition-property: all;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* main content */

.presentation img {
    position: relative;
    top: 120px;
    left: 140px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}



.contenu1 h1 {
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding-left: 10%;
    margin-top: -14%;
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    color: orange;
}

/* animation titre 1 */
.slide1 {
    position: relative;
    animation: 2s slidein-right, fadein 2s;
}
.contenu1 p {
    margin: 0;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 20%;
    padding-bottom: 140px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    line-height: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* animation titre 2 */

.slide2 {
    position: relative;
    animation: 3s slidein-left, fadein 3s;;
}
.contenu2 h1 {
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding-right: 40%;
    color: orange;
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
}

.contenu2 p {
    text-align: justify;
    text-shadow: 2px 2px 2px black;
    padding-left: 10%;
    padding-right: 50%;
    padding-bottom: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.contenu2 button {
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 18%;
    padding: 6px 50px 6px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    display: block;
}

.contenu2 button:hover {
    background-color: transparent;
    color: white
}

.contenu2 button a {
    text-decoration: none;
    color: black;
}

.contenu2 button a:hover {
    color: white;
}

.pied {
    background-color: black;
    padding: 5.5px;
    margin-top: 40px;
}

.pied p {
    text-align: center;
    color: white;
}


@keyframes slidein-left {
    0% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}

@keyframes slidein-right {
    0% {
        right: -10%;
    }
    100% {
        right: 0;

    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .contenu header {
        margin-top: 10%;
        max-width: 100%;
    }
}