/* polices */
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Merriweather&family=Overpass&family=Roboto:wght@300;400&display=swap');

/* layout */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 255, 255);
    background: url(Images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* navigation bar */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

nav .profile h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 20px 42px 20px 42px;
    cursor: pointer;
    color: white;
}

nav ul li:hover {
    background-color: rgb(0, 0, 100);
    color: whitesmoke;
    transition: ease all 0.5s;
    transition-property: all;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* DÉFINITION */

.def h1 {
    position: relative;
    animation: 2s slidein-top, 2s fadein;
    margin: 4%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.def p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.def p span {
    color:orange;
}

/* SUJET */ 

.sujet h1 {
    position: relative;
    animation: 3s slidein-left, 3s fadein;
    margin-top: 4%;
    margin-left: 8%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

.sujet p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 7%;
    margin-right: 45%;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.sujet img {
    max-width: 40%;
    margin-left: 60%;
    margin-top: -20%;
}

.sujet p span {
    color:orange;
}

/* SUIVIE DE LA VEILLE */


.suivi h1 {
    position: relative;
    animation: 5s slidein-left, 5s fadein;
    margin-top: 4%;
    margin-left: 8%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

.suivi p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 7%;
    margin-right: 45%;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

/* GOOGLE ALERT */

.alert li {
    display: flex;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 7%;
    margin-right: 45%;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.alert li a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.alert li a:hover {
    color: orange;
}
.alert li img {
    max-width: 10%;
    margin-top: -1%;
    margin-right: 1%;
}

.alert p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: -3%;
    margin-left: 7%;
    margin-right: 45%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.alert p span {
    color: orange;
}
.keyword li {
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
    margin-left: 10%;
    font-size: 18px;
    line-height: 40px;
}

/* RÉSEAU SOCIAUX */ 

.réseaux li {
    display: flex;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 30%;
    margin-right: 45%;
    margin-bottom: 4%;
    margin-top: -22.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.réseaux li img {
    max-width: 20%;
    margin-right: 1%;
}

.réseaux li i {
    margin-top: 2%;
    margin-left: 2%;
}

.sociaux p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: -3%;
    margin-left: 30%;
    margin-right: 40%;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.sociaux li {
    display: flex;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 30%;
    margin-right: 45%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.sociaux li a {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-right: 45%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.sociaux li a:hover {
    color: orange;
}

.sociaux li img {
        max-width: 20%;
        margin-right: 1%;
        margin-top: -2%;
}

/* ARTICLES */

.news li {
    display: flex;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-left: 60%;
    margin-top: -20%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.news li img {
    max-width: 10%;
    margin-left: 25%;
}

.news li i {
    margin-top: 3%;
    margin-left: 2%;
}

.letter p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 0.5%;
    margin-left: 60%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.letter li {
    display: flex;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 0.5%;
    margin-left: 60%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.letter li a {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.letter li a:hover {
    color: orange;
}

.letter2 p {
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 2%;
    margin-left: 60%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.letter2 li {
    display: flex;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 0.5%;
    margin-left: 60%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.letter2 li a {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.letter2 li a:hover {
    color: orange;
}

/* RETENIR */

.keep h1 {
    position: relative;
    animation: 5s slidein-left, 5s fadein;
    margin-top: 2%;
    margin-left: 20%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.keep p {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.keep p span {
    color:orange;
}

/* ARTICLE 1 */

.article1 u {
    text-align: center;
    margin-left: 25%;
}

.article1 h1 {
    position: relative;
    animation: 7s slidein-left, 6s fadein;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 60%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-style: italic;
    font-size: 30px;
}

.article1 p {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 55%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.article1 p span {
    color: orange;
}

.article1 button {
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4%;
    padding: 6px 10px 6px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    margin-bottom: 40px;
}

.article1 button:hover {
    background-color: transparent;
    color: white
}

.article1 button a {
    text-decoration: none;
    color: black;
}

.article1 button a:hover {
    color: white;
}

/* ARTICLE 2 */

.article2 u {
    text-align: center;
    margin-left: 25%;
}

.article2 h1 {
    position: relative;
    animation: 8s slidein-right, 8s fadein;
    margin-top: -15%;
    margin-left: 55%;
    margin-right: 4%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-style: italic;
    font-size: 30px;
}

.article2 p {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 1%;
    margin-left: 55%;
    margin-right: 6%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.article2 p span {
    color: orange;
}

.article2 button {
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 55%;
    padding: 6px 10px 6px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    margin-bottom: 40px;
}

.article2 button:hover {
    background-color: transparent;
    color: white
}

.article2 button a {
    text-decoration: none;
    color: black;
}

.article2 button a:hover {
    color: white;
}

/* ARTICLE 3 */

.article3 u {
    text-align: center;
    margin-left: 25%;
}

.article3 h1 {
    position: relative;
    animation: 9s slidein-left, 9s fadein;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 60%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-style: italic;
    font-size: 30px;
}

.article3 p {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 55%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.article3 p span {
    color: orange;
}

.article3 button {
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4%;
    padding: 6px 10px 6px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    margin-bottom: 40px;
}

.article3 button:hover {
    background-color: transparent;
    color: white
}

.article3 button a {
    text-decoration: none;
    color: black;
}

.article3 button a:hover {
    color: white;
}

/* ARTICLE 4 */

.article4 u {
    text-align: center;
    margin-left: 25%;
}

.article4 h1 {
    position: relative;
    animation: 10s slidein-right, 10s fadein;
    margin-top: -15%;
    margin-left: 55%;
    margin-right: 4%;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    color: orange;
    font-family:'Overpass', sans-serif;
    font-style: italic;
    font-size: 30px;
}

.article4 p {
    text-decoration: none;
    color: white;
    text-align: center justify;
    text-shadow: 2px 2px 2px black;
    margin-top: 1%;
    margin-left: 55%;
    margin-right: 6%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.article4 p span {
    color: orange;
}

.article4 button {
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 55%;
    padding: 6px 10px 6px;
    border-color: white;
    background-color: white;
    cursor: pointer;
    transition: ease all 0.4s;
    margin-bottom: 40px;
}

.article4 button:hover {
    background-color: transparent;
    color: white
}

.article4 button a {
    text-decoration: none;
    color: black;
}

.article4 button a:hover {
    color: white;
}

/* PIED DE PÂGE */

.pied {
    background-color: black;
    padding: 5.5px;
    margin-top: 4%;
}

.pied p {
    text-align: center;
    color: white;
}

@keyframes slidein-top {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slidein-left {
    0% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}

@keyframes slidein-right {
    0% {
        right: -10%;
    }
    100% {
        right: 0;

    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
